build/*.java
build/*.class
build/**/*.cc
build/**/*.h
build/**/*.hpp
build/*.out
build/*.a
**/*.o
util/*.json
memo.md
task_list.txt
.ruby-version
**/.DS_Store
visualize_runs/figs
visualize_runs/figs2
*[0-9][0-9][0-9][0-9][0-9][0-9][0-9]*
build/main.hpp
